- model_class = Photo
- unless @album.photos.nil?
  .page-header
    %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name(:id)
        %th= model_class.human_attribute_name(:image)
        %th= model_class.human_attribute_name(:tag_line)
        %th= model_class.human_attribute_name(:created_at)
        %th= t '.actions', :default => t("helpers.actions")
    %tbody
      - @album.photos.each do |photo|
        %tr
          %td= photo.id
          %td= image_tag photo.image_url(:thumb).to_s
          %td= photo.tag_line
          %td= l photo.created_at, format: :long
          %td
            = link_to photo_path(photo), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do
              = glyph 'info-sign'
            = link_to edit_photo_path(photo), :class => 'btn btn-xs', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do
              = glyph 'pencil'
            = link_to photo_path(photo), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do
              = glyph 'remove'
